{% trans_default_domain 'FOSUserBundle' %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

<div style="padding-left: 100px;padding-right: 100px "  class="contact-us container-fluid no-padding">
    <div class="form-detail" style="background-color: #FFFFFF">

        <div class="form-detail" style="background-color: #FFFFFF">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Register</h3>
            </div><!-- Section Header /- -->

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-row">
            <div class="form-group col">
                {{ form_widget(form.email,{'attr':{'class':'form-control form-control-lg','placeholder':'email'}}) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                {{ form_widget(form.username,{'attr':{'class':'form-control form-control-lg','id':'username','placeholder':'username'}}) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control form-control-lg','placeholder':'password'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control form-control-lg','placeholder':'Repeat password'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3">
                <button  style="align-content:center;border:1px solid #FF8661;color: #FF8661" type="submit" id="_submit" name="_submit"+ name="post">register</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>