{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <h1>Ajouter nouveau produit</h1>

    {{ form_start(form) }}
    {# ... #}
    {{ form_row(form.nom) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.image) }}
    {{ form_row(form.url) }}

    {{ form_end(form) }}
{% endblock %}
