{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <style>
        .privew {
            margin-bottom: 20px;
        }
        .questionsBox {
            display: block;
            border: solid 1px #e3e3e3;
            padding: 10px 20px 0px;
            box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
            border-radius: 3px;
            margin: 0 10px;
        }.questions {
             background: #007fbe;
             color: #FFF;
             font-size: 22px;
             padding: 8px 30px;
             font-weight: 300;
             margin: 0 -30px 10px;
             position: relative;
         }
        .questions:after {
            background: url(../img/icon.png) no-repeat left 0;
            display: block;
            position: absolute;
            top: 100%;
            width: 9px;
            height: 7px;
            content: '.';
            left: 0;
            text-align: left;
            font-size: 0;
        }
        .questions:after {
            left: auto;
            right: 0;
            background-position: -10px 0;
        }
        .questions:before, .questions:after {
            background: black;
            display: block;
            position: absolute;
            top: 100%;
            width: 9px;
            height: 7px;
            content: '.';
            left: 0;
            text-align: left;
            font-size: 0;
        }
        .answerList {
            margin-bottom: 15px;
        }


        ol, ul {
            list-style: none;
        }
        .answerList li:first-child {
            border-top-width: 0;
        }

        .answerList li {
            padding: 3px 0;
        }
        .answerList label {
            display: block;
            padding: 6px;
            border-radius: 6px;
            border: solid 1px #dde7e8;
            font-weight: 400;
            font-size: 13px;
            cursor: pointer;
            font-family: Arial, sans-serif;
        }
        input[type=checkbox], input[type=radio] {
            margin: 4px 0 0;
            margin-top: 1px;
            line-height: normal;
        }
        .questionsRow {
            background: #dee3e6;
            margin: 0 -20px;
            padding: 10px 20px;
            border-radius: 0 0 3px 3px;
        }
        .button, .greyButton {
            background-color: #f2f2f2;
            color: #888888;
            display: inline-block;
            border: solid 3px #cccccc;
            vertical-align: middle;
            text-shadow: 0 1px 0 #ffffff;
            line-height: 27px;
            min-width: 160px;
            text-align: center;
            padding: 5px 20px;
            text-decoration: none;
            border-radius: 0px;
            text-transform: capitalize;
        }
        .questionsRow span {
            float: right;
            display: inline-block;
            line-height: 30px;
            border: solid 1px #aeb9c0;
            padding: 0 10px;
            background: #FFF;
            color: #007fbe;
        }



    </style>

    <style>
        .question {
            font-style: italic;
            margin-bottom: 0.5em;
            font-family: Georgia, Times, "Times New Roman", serif
        }

        .div_1 {
            color: white;
            background-color: black;
            position: absolute;
            border: 2px solid black;
            width: 100px;
            height: 100px;
            cursor: move;
        }

        .div_2 {
            position: absolute;
            border: 2px solid steelblue;
            height: 200px;
        }

        .dragzone {
            border: 2px solid steelblue;
            height: 1000px;

        }

        .ScrollStyle {
            max-height: 500px;
            overflow-y: scroll;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
          rel="stylesheet"/>
    <div class="page-title mb-15">
        <div class="pull-left"><h3 class="breadcrumb-header">FashionBoard</h3>
            <p class="text-muted mb-0">Ajuster un style vestimentaire</p></div>
        <div class="pull-right">
            <div class="btn-group mx-auto">
                <ol class="breadcrumb hide-phone pt-4 pb-4 m-0">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">FashionBoard</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div style="display: flex;">


        <div>
            <select id="test" class="selectpicker" data-live-search="true"
                    title="Selectionner un client" >
                {% for fashionBoard in fashionBoards %}
                    <option data-tokens="Moez ben chrifia" value={{ fashionBoard.user.id }}>
                        {{ fashionBoard.user.firstname }}{{ " " }}{{ fashionBoard.user.lastname }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div style="margin-left: 600px">
            <button type="submit" class="btn btn-light" onclick="cancel()">Annuler</button>
            <button type="submit" class="btn btn-primary" onclick="update()">Valider</button>

        </div>
    </div>
    <br><br>
    <div id="main-wrapper">
        <div class="row">
            <div style="display: flex">
                <div class="col-lg-6 ScrollStyle">
                    {% for i,product in products %}
                        {% set i = i + 1 %}
                        {% set div = product.id%}
                        {% set clasname='col-lg-6 '~div %}
                        <div class="{{ clasname }}" draggable="true"
                             ondragstart="handleDragStart(this)">
                            <div class="panel mb-30" style="height: 260px">
                                <div class="panel-body">
                                    <p class=" header-title" style="font-size: 15px;">{{ product.nom|e }}</p>
                                    <p>
                                        Marque: {{ product.marque|e }} {{ i+1 }}
                                        <br>
                                        prix: {{ product.prix|e }}
                                    </p>
                                    <img src="{{ asset('uploads/brochures/'~product.brochureFilename) }}" alt=""
                                         style="width:100%;height:120px"></a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>

                <div class="col-lg-6 dragzone" ondragover="allowDrop(event)"
                     ondrop="handleDrop()" ondragenter="colorize(this)"
                     ondragleave="uncolorize(this)"
                ></div>
            </div>
        </div>

    </div>
    <!-- dataModal -->
    <div id="dataModal" class="modal fade">

        </div>


    <script src="{{ asset('backOffice/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var fashionBoard = {
                products: [],
                user: "",
                adminValidation: true
            };
            var quizByUser = {
                quizs: [],
                showPopup: true
            };
            var id = "";
            var products =[];
            var quizs=[];
            $("select.selectpicker").change(function(){
                var selectedClient = $(this).children("option:selected").val();
                fashionBoard.user=selectedClient;
                $('#modal-title').html("Modifier profile");

                //path de l'action editer de fos user : formulaire de modification
                var url = '{{ path('getQuiz') }}';

                $.ajax({
                    type: 'get',
                    url: url,
                    data:fashionBoard,
                    success: function (data) {
                        // résultat de action edit : formulaire inclure dans popup
                        //$('#modal_detail').html(data);
                        quizs=data;
                        console.log("res2",quizs)
                        var inputs='<div class="modal-dialog"><div class="panel mb-30"> <div class="panel-body"><p class=" header-title" style="font-size: 15px;">Quiz</p><div class="container" style="width: 100%">';
                        for (var i = 0; i < quizs.length; i++) {
                            inputs+='<div class="questionsBox">';
                            if(i%2 ==0){
                               inputs+='<div class="questions form-group">'+quizs[i]+'</div>'
                            }else{
                                inputs += '<ul class="answerList"><li>'+quizs[i]+'</li></ul>';
                            }
                            inputs+='</div>'
                        }
                        inputs+='</div></div></div></div>'

                        document.getElementById('dataModal').insertAdjacentHTML('afterbegin', inputs);

                        quizByUser.quizs=quizs
                        $('#dataModal').modal("show");
                    }
                });
                //Affichage de nouvelle popup

            });

            allowDrop = (event) => {
                event.preventDefault();
            }
            handleDragStart = (element) => {
                id = element.className;
            }
            colorize = (element) => {
                element.classList.add('dragging-over');
                var res = "."+id.substring(9, 15);
                $(res).appendTo('.dragzone');
            }
            uncolorize = (element) => {
                element.classList.remove('dragging-over');
            }
            handleDrop = () => {
                products.push(id.substring(9, 15))
                console.log("handle");
            }
            update = ()=>{
                fashionBoard.products=products;
                var url = '{{ path('updateFashionBoard') }}';
                $.ajax({
                    type: 'put',
                    url: url,
                    data:fashionBoard,
                    success: function (data) {
                        // résultat de action edit : formulaire inclure dans popup
                        location.reload();

                    }
                });
            }
            cancel = ()=>{
                location.reload();
            }
            $('#editFashionBundle').click(function () {



                //path de l'action editer de fos user : formulaire de modification
                var url = '{{ path('fos_user_profile_edit') }}';

                $.ajax({
                    type: 'post',
                    //url: url,
                    success: function (data) {
                        // résultat de action edit : formulaire inclure dans popup
                        fashionBoard.products=products;
                        console.log("fashionBoard",fashionBoard)
                    }
                });

            });
        });
    </script>


{% endblock %}